n8n/Lembretes Automáticos - Escalas Semanais.json
{
  "name": "Lembretes Automáticos - Escalas Semanais",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalas-reminders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receber-dados",
      "name": "Webhook Receber Dados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "escalas-reminders"
    },
    {
      "parameters": {
        "jsCode": "// Processar dados recebidos do webhook\nconst data = $input.item.json.body || $input.item.json;\n\n// Extrair array de servos\nconst servos = data.servos || [];\n\nconsole.log(`Processando ${servos.length} servos`);\n\n// Retornar cada servo como um item separado para processamento individual\nreturn servos.map(servo => ({\n  json: {\n    phone: servo.phone,\n    message: servo.message,\n    name: servo.name\n  }\n}));"
      },
      "id": "processar-dados",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Formatar dados para envio\nconst data = $input.item.json;\n\n// Garantir que o telefone comece com 55\nlet phone = data.phone.replace(/\\D/g, '');\nif (!phone.startsWith('55')) {\n  phone = '55' + phone;\n}\n\nreturn {\n  json: {\n    phone: phone,\n    message: data.message,\n    name: data.name\n  }\n};"
      },
      "id": "formatar-mensagem",
      "name": "Formatar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "enviar-texto",
      "name": "Enviar texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api",
          "name": "Evolution API"
        }
      },
      "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_API_INSTANCE }}"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"sent\": $('Processar Dados').all().length, \"message\": \"Lembretes enviados com sucesso\" } }}"
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Receber Dados": {
      "main": [
        [
          {
            "node": "Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados": {
      "main": [
        [
          {
            "node": "Formatar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-24T00:00:00.000Z",
  "versionId": "1"
}

