n8n/Lembretes Automáticos - Relatórios Semanais.json
{
  "name": "Lembretes Automáticos - Relatórios Semanais",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weekly-report-reminders",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ed1eb891-55ac-47f3-84b0-17ddf7517eed",
      "name": "Webhook Receber Dados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1168,
        32
      ],
      "webhookId": "weekly-report-reminders"
    },
    {
      "parameters": {
        "jsCode": "// Processar dados recebidos do webhook\nconst data = $input.item.json.body || $input.item.json;\n\n// Extrair array de líderes e dados da semana\nconst leaders = data.leaders || [];\nconst weekStartDate = data.weekStartDate;\nconst weekEndDate = data.weekEndDate;\n\nconsole.log(`Processando ${leaders.length} líderes para a semana ${weekStartDate}`);\n\n// Retornar cada líder como um item separado para processamento individual\nreturn leaders.map(leader => {\n  // Extrair lider_id se não vier diretamente (pode estar em fillLink)\n  let liderId = leader.lider_id || leader.liderId;\n  \n  // Se ainda não tiver, tentar extrair do fillLink\n  if (!liderId && leader.fillLink) {\n    const match = leader.fillLink.match(/lider=([^&]+)/);\n    if (match) liderId = match[1];\n  }\n  \n  return {\n    json: {\n      lider_id: liderId,\n      name: leader.name,\n      phone: leader.phone,\n      celula: leader.celula,\n      fillLink: leader.fillLink,\n      weekRange: leader.weekRange,\n      week_start_date: weekStartDate,\n      week_end_date: weekEndDate\n    }\n  };\n});"
      },
      "id": "36f994cd-786b-4d20-bfee-0b5b60b684b2",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Formatar dados para envio\nconst data = $input.item.json;\n\n// Garantir que o telefone comece com 55\nlet phone = data.phone.replace(/\\D/g, '');\nif (!phone.startsWith('55')) {\n  phone = '55' + phone;\n}\n\n// Criar mensagem formatada\nconst message = `Olá *${data.name}*! 👋\n\n📋 *LEMBRETE DE RELATÓRIO SEMANAL*\n\nVocê ainda não preencheu o relatório da sua célula para a semana:\n*${data.weekRange}*\n\n🔗 Clique no link abaixo para preencher:\n${data.fillLink}\n\n⏰ Por favor, preencha até domingo para não perder o prazo!\n\n_Que Deus abençoe sua célula!_ 🙏`;\n\nreturn {\n  json: {\n    phone: phone,\n    message: message,\n    name: data.name,\n    lider_id: data.lider_id,\n    week_start_date: data.week_start_date,\n    celula: data.celula\n  }\n};"
      },
      "id": "1f30dde0-57d9-4a34-8b8f-58eb0d1dcb0e",
      "name": "Formatar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "nao-enviado",
              "leftValue": "={{ JSON.parse($json.body || '[]').length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20f8b768-fd30-467a-a7bf-b76dbf2f5c58",
      "name": "Se NÃO foi enviado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obter dados do item anterior (formatar mensagem)\nconst formatarItem = $('Formatar Mensagem').item.json;\n\n// Aguardar 90 segundos antes de enviar\nawait new Promise(resolve => setTimeout(resolve, 90000));\n\nreturn {\n  json: formatarItem\n};"
      },
      "id": "5fddebe8-fb99-4522-9076-bdcfcda6810e",
      "name": "Aguardar 90 segundos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"sent\": $('Processar Dados').all().length, \"message\": \"Lembretes enviados com sucesso\" } }}",
        "options": {}
      },
      "id": "2c107b52-b396-4be9-a196-7ea95ae306bc",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        608,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Líder {{ $json.name || $('Formatar Mensagem').item.json.name }} já recebeu lembrete para esta semana\", \"skipped\": true } }}",
        "options": {}
      },
      "id": "8467e54f-46a1-4d5c-9b82-754af0370cda",
      "name": "Responder (Já Enviado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/weekly_reminders_log?lider_id=eq.{{ $json.lider_id }}&week_start_date=eq.{{ $json.week_start_date }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        32
      ],
      "id": "a3210976-e016-4d29-88e6-349bd70c66b7",
      "name": "Get a row",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/weekly_reminders_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lider_id\": \"{{ $('Formatar Mensagem').item.json.lider_id }}\",\n  \"week_start_date\": \"{{ $('Formatar Mensagem').item.json.week_start_date }}\",\n  \"sent_via_whatsapp\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        80
      ],
      "id": "a2f314b6-0eb0-4543-ac3c-fe503ebe1c64",
      "name": "Update a row",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "agencia",
        "remoteJid": "={{ $json.phone }}@s.whatsapp.net",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        144,
        -16
      ],
      "id": "c8a30298-51b6-415d-bd23-9af50daf803c",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "OPURcGt3AZFcweGK",
          "name": "videira"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Receber Dados": {
      "main": [
        [
          {
            "node": "Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados": {
      "main": [
        [
          {
            "node": "Formatar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagem": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se NÃO foi enviado": {
      "main": [
        [
          {
            "node": "Aguardar 90 segundos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder (Já Enviado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 90 segundos": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Se NÃO foi enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2abc7998-dcd0-4d6b-9a75-16f4788cffcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5693b67dd53ed0bd8707766fff43e42ad4b9a7461013bd41b12ff4283ba248b1"
  },
  "id": "P6w8XKFjOi2fWLdt",
  "tags": []
}